
body {
    font-family: 'Playfair Display SC', serif;
    width: 100vw !important;
    height:100vh !important; 
    box-sizing: border-box;
    margin-top:49px;   
    background-color: #f8f8f8;
  }


.activeRoute{
  border-bottom:2px solid red;
}

.about-title h6{
  font-weight: 700;
  margin-top:30px;
  margin-bottom: 10px;
  padding:3px;
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

.about-title7 h6{
  margin-top:10px;
  margin-bottom: 10px;

}

.about-title4 h6{
  font-weight: 700;
  margin-top:60px;
  margin-bottom: 10px;
  padding:3px;
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

.about-title1{
  margin-top:30px;
  margin-bottom: 10px;
  text-align: center;
}

.about-title2{
  margin-top:30px;
  margin-bottom: 10px;

}

.about-title-btn{
  margin-top:30px;
  margin-bottom: 10px;

}

.about-title3 {
  margin:8% auto;
  text-align: center;

}

.about-title3 h2 {
  color:#fff;
  font-weight: 700;
  font-size:30px;
  line-height: 3.5rem;
  
}

.about-section{
 margin-top:10px;
 margin-bottom: 50px;
}

.register-now{
  background-color: #ba160c;
  margin-top:30px;
  height: 350px;
}
.focus-img{
  width:100%;
}
.focus-data{
  margin:60px 0px;
}
.about-titlee h1 {
  margin-bottom: 20px;
}
.ticket{
    background-color: red;
}

li{
    margin: 2px !important;
}
  
.navbar-light{
    background:#fff !important;
}

.navbar-logo{
  width:350px;
}

p{
    font-family:  'Alegreya Sans', sans-serif;
    line-height: 1.5rem;
    letter-spacing: 0.1px !important;
   
}
h1{
  font-family: 'Open Sans', sans-serif;
}

.section-main{
  background-color: #fff;
  padding-top: 30px;
}

.section-1{
  margin-bottom: 30px;
}

.section-2{
    padding:40px 0;
    background-color: #000;
    color:#fff;
}

.section-4{
  padding:40px 0;
  color:#fff;
 background: #ba160c;
}

.section-3{
    padding:40px 0;
    background-color: #fff;
    color:#000;
} 

.section-about-page {
  margin-top: 10rem;
  margin-bottom: 3rem;
  font-family: 'Merriweather', serif;
}

.section-about-page h3 {
  font-family: 'Merriweather', serif;
}

.section-about-page p{

  font-family: 'Crimson Text', serif;
}


/* speakers section */


how-section3{
  margin-top:1%;
}

.how-section3 .row{
  margin: 10% 0;
}

/* .how-section1 h4{
  color: red;
  font-weight: bold;
  font-size: 30px;
} */
/* .how-section1 .subheading{
  color:#fff;
  font-size: 20px;
} */
/* .how-section1 .row{
  margin-top: 10%;
} */
.how-img {
  text-align: center;
}
.how-img img{
  width: 50%;
  height: 50%;
}


#how_section5_p{
  color:#000 !important;
}


.readmore{
  outline: 2px solid red;
  display: inline-block;
  padding:10px;
  margin-bottom: 12px;
}

.readmore2{
  outline: 2px solid red;
  display: inline-block;
  padding:10px;
  text-align: center;
  margin-bottom: 0px;
}

.readmore3{
  outline: 2px solid red;
  display: inline-block;
  width:200px;
  padding:10px;
  text-align: center;
  margin-bottom: 0px;
}


.img-fluid1{
  margin-top:10px;
  width: 100%;
  height: 90%;
  border-radius: 5px;
}

.img-fluid  {
  margin-top:10px;
  
  width: 100%;
  height: 60% !important;
  border-radius: 5px;
}



.team-margin{
  margin-bottom: -52px !important;
  margin-right: -8px !important;

}

/* end of how */














.speaker-alignment {
  margin: 25px ;
}
.speakers_h1{
  font-size: 4rem;
}
.speaker-name{
  margin-bottom: 30px;
}
.location_font{
  font-size: 2rem;
}
.speakers_p{
  font-size: 2em;
}

.speakers_slider{
background-color: #000 !important;
padding: 30px 0;
}

#main_Speakers_text{
margin-left:25em;

}
/* end of speakers slide */


.iframe_line{
  margin-top: 80px;
  height: 80px;
  width: 100%;
  background: red;
}

.iframe_content{
  width: 100%;
  background: #000;
  margin-top: -9px;
  color: #fff;
  padding: 30px 0;
}
/* end of ifram */

.footer_section{
  background-color: #000;
  color: #fff;
  padding: 35px 0;
}

.footer_text{
 float: left;
}
.footer_logo{
  display: flex;
  align-self: auto;
}
/* end of footer */

.NavLink_h1{
  margin: 20px auto;
}
.NavLink_h1 h1{
  font-size: 2rem;
}

.clipPath{
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 58% 100%, 50% 75%, 0% 75%);
clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 58% 100%, 50% 75%, 0% 75%);
}


.ticket_main{
  height: 120px;
  background-color: #ba160c;
}


button {
  -webkit-appearance: none;
          appearance: none;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
          filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  border: none;
  background:#ba160c;
  color:#fff;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 15px 40px;
  font-weight: 700;
  font-size: 13px;
  cursor: cursor;
 
}
  
  button:hover {
    color: #FFFFFF;
    background: #222222;
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
            box-shadow: 2px 2px 2px 0 #000;
  }
  
  .wrapper {
    max-width: 1335px;
    box-sizing: border-box;
    margin: auto;
  }
  
  .wrapper a {
    display: inline-block;
    margin: 5px;
  }
  
  .wrapper a:first-child {
    margin-left: 0;
  }
  
  .slider-wrapper {
    position: relative;
    height: 100vh;
    margin-top: 5px;
    overflow: hidden;
  }
  
  .slide {
   
    background-size: cover !important;
  }
  
  .slide::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
      bottom: 0;
      left: 0;
  }
  

  .slider-content {
    text-align: center;
  }
  
  .slider-content .inner {
    padding: 0 70px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .slider-content .inner button{
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  
  .slider-content .inner h2 {
    font-weight: 900 !important;
    margin: 0 auto;
    color: red;
    font-size: 40px;
    max-width: 100%;
  }
  
  .slider-content .inner p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 0.2;
    margin: 20px auto 30px;
    max-width: 100%;
    letter-spacing: 2px;
  }
  
  .slider-content section {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  .slider-content section span {
    color: #FFFFFF;
  }
  
  .slider-content section span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    display: inline-block;
    text-align: left;
    line-height: 1.4;
    vertical-align: middle;
    margin-left: 10px;
  }
  
  .slider-content section img {
    width: 40px;
    height: 40px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    vertical-align: middle;
  }
  
  .slider-content section span strong {
    color: #FFFFFF;
    font-size: 14px;
    display: block;
  }
  

  @media (max-width: 600px) {

    .slider-wrapper {
      position: relative;
      height: 90vh;
      overflow: hidden;
    }

    .navbar-logo{
      width:250px;
    }
    
    .slider-content .inner h2 {
      font-size: 25px !important;
      margin-top: 20px  !important;
      letter-spacing: .1rem;
    }
    
    .slider-content .inner p {
      color: #FFFFFF;
      font-size: 15px;
      line-height: 1.2;
      max-width: 100%;
      letter-spacing: 2px;
    }
    
    body{
      padding-top: 58px;
    }

    .speakers_h1{
      font-size: 2.1rem;
    }

    .location_font{
      font-size: 2rem;
    }

    .NavLink_h1{
      padding: 15px 0;
      margin: 0 15px;
    }

    .ticket_section{
      margin: 2px 0;
    }

    .ticket_main{
      height: 120px;
      margin: -10px;
      background-color: #ba160c;
    }


    .how-section3 .row{
      padding: 10%;
      margin-top: 10% 0;
    }

    .how-section3 img {
      margin: 10%;
    }


    .team-margin{
      margin-bottom: -82px !important;
      margin-right: 20px !important;
      margin-left: 10px !important;
    
    }
  
    .about-title3 {
      margin:18% auto;
      text-align: center;
    
    }

    .about-title3 h2 {
      color:#fff;
      font-weight: bolder;
      font-size:28px;
      line-height: 3.5rem;
    }

    .speakers_p{
      font-size: 1.5em;
    }

    .about-title h6{
      font-weight: 700;
      margin-top:30px;
      margin-bottom: 10px;
      padding:3px;
      font-size: 16px;
      font-family: 'Merriweather', serif;
    }

    .about-title4 h6{
      font-weight: 700;
      margin-top:30px;
      margin-bottom: 10px;
      padding:3px;
      font-size: 16px;
      font-family: 'Merriweather', serif;
    }

    p{
      margin:5px;
    }

    .readmore{
      margin:-12px 9px;
    }


    .section-about-page {
      margin-top: 5rem;
      margin-bottom: 3rem;
      font-family: 'Merriweather', serif;
    }
    
    .section-about-page h3 {
      font-family: 'Merriweather', serif;
    }
    
    .section-about-page p{
    
      font-family: 'Crimson Text', serif;
    }
    
    .img-fluid-img{
      margin-bottom: -30px !important;
    }

    .img-fluid-img h5 span {
      text-align: center;
    }

    .about-title-btn{
      margin-top:30px;
      margin-bottom: -5px;
    
    }

    .img-fluid  {
      margin-top:10px;
      
      width: 100% !important;
      height: 70% !important;
      border-radius: 5px;
    }

}


  
  @media (max-width: 640px) {
    .slider-content .inner h1 {
      font-size: 30px;
    }
    
  }


@media (max-width: 1200px) {
  
    body{
    margin-top: -33px;
    }

    .slider-content .inner h1 {
    font-size: 30px;
  }
}



/* [1] The container */
.img-hover-zoom {
 /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom1 {
 /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom1 img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom1:hover img {
  transform: scale(1.1);
}


/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}


Iframe {
  border:none;
  box-shadow: 0 .5rem .2rem rgba(0, 0, 0, 0.2);
}




canvas {
  display: block;
  vertical-align: bottom;
}



#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
	background: #00356B;
}



.text {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	color: #fff;
	max-width: 90%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0px 0px 2px #131415;
	font-family: 'Open Sans', sans-serif;
}



h1 {
	font-size: 2.25em;
	font-weight: 700;
	letter-spacing: -1px;
}


a,
a:visited {
	color:#e34234;
	transition: 0.25s;
}

a:hover,
a:focus {
	color:  #ba160c;
}



.ticket_section {
  padding: 100px 0;
}


.ticket_section_h2{
  padding: 30px 10px;
}


.ticket_section_image{
  width: 200px !important;
}


.ticket_section_text{
  color:#ba160c;
  font-weight: 700 !important;
}


.btn-light{
  text-transform: capitalize !important;
  border-radius: none !important;
  border: none !important;
 
}